{% extends 'base.html' %} {% block content %}
<h1>Inventory</h1>
<a href="{{ url_for('inventory.add')}}" class="btn btn-primary btn-sm mb-2">Add new product</a>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>MAC Address</th>
      <th>Serial number</th>
      <th>Manufacturer</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{product.price}}</td>
            <td> {{product.mac_address}}</td>
            <td> {{product.serial_number}}</td>
            <td> {{product.manufacturer}}</td>
            <td> {{product.description}}</td>
            <td>
                <a href="{{ url_for('inventory.edit', id=product.id)}}" class="btn btn-sm btn-warning">Edit</a>
                <a href="{{url_for('inventory.delete', id=product.id)}}" class="btn btn-sm btn-danger">Delete</a>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
  </thead>
</table>
{% endblock %}
