{% extends 'base.html' %} {% block content %}
<h1>Inventory</h1>
<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>MAC Address</th>
      <th>Serial number</th>
      <th>Manufacturer</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td> {{product.mac_address}}</td>
            <td> {{product.serial_number}}</td>
            <td> {{product.manufacturer}}</td>
            <td> {{product.description}}</td>
            <td>
                <button type="button" class="btn btn-sm btn-warning">Edit</button>
                <button type="button" class="btn btn-sm btn-danger">Delete</button>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
  </thead>
</table>
{% endblock %}
